// **************************************************
// Name: customtype.scss
// Description: custom type helpers
// **************************************************


// Body Copy
// ---------------------------

.type--large {
  font-size: 20px;
}

.type--small {
  font-size: 12px;
}

.type-light {
  color: $gray-5;
}
