
// **************************************************
// Variables.scss
// Description: To set global variables for scss
// **************************************************



// Global Color Variales (light to dark)
// --------------------------------------------------


// Gray Colors
// -------------------------

$gray-1:        #ffffff;
$gray-2:        #F9F8F5;
$gray-3:        #DDDDDD;
$gray-4:        #A7A7A7;
$gray-5:        #929292;
$gray-6:        #686868;
$gray-7:        #606060;
$gray-8:        #3A3D3F;


// Brand Colors (yellow / gold)
// -------------------------

$brand-1:       #FFE98D;
$brand-2:       #FFE05C;
$brand-3:       #FDD835;

// Accent Colors (light blue to dark blue)
// -------------------------

$accent-1:      #CAF7FC;
$accent-2:      #ABF7FF;
$accent-3:      #3085B5;
$accent-4:      #147D96;
$accent-5:      #3B7893;
$accent-6:      #285768;




// Global Font Variables
// --------------------------------------------------

// Font Stacks
// -------------------------

$font-family--primary    : 'Open Sans', Helvetica, Arial, sans-serif;

// Font Weights
// -------------------------

$font-weight--light      : 300;
$font-weight--normal     : 400;
$font-weight--bold       : 700;
