// **************************************************
// Name: hero.scss
// Description: styles for hero section
// **************************************************


// Hero
// ---------------------------

.hero {
  background-color: red;
  background: linear-gradient( $brand-2, $brand-3);

  @include mq(lg) {
    background:
      url('/img/linegraph.svg') no-repeat 80% 100%,
      linear-gradient( $brand-2, $brand-3);
      background-size: 1200px auto, contain;
  }
  p {
    font-size: 19px;
  }
}


// Hero Intro content
// ---------------------------
.hero__intro {
  text-align: center;
  padding-top: 50px;
  @include mq(md) {
    text-align: left;
  }
}
