// **************************************************
// Name: hero.scss
// Description: styles for hero section
// **************************************************


// Hero
// ---------------------------

.hero {
  background-color: red;
  background: linear-gradient( $brand-2, $brand-3);
  position: relative;

  @include mq(lg) {
    background:
      url('/img/linegraph.svg') no-repeat 95% 90%,
      linear-gradient( $brand-2, $brand-3);
      background-size: 1100px auto, contain;
  }
  p {
    font-size: 19px;
  }
}


// Hero Intro content
// ---------------------------
.hero__intro {
  text-align: center;
  padding: 20px 0;

  @include mq(md) {
    padding: 50px 0;
    text-align: left;
  }
}

.hero__phone {
  margin: 0 auto;
  text-align: center;
  display: block;

  @include mq("md") {
    float: right;
    width: 400px;
  }
}
