// ********************************************
// Name: Navbar
// Description: styles associated with elements in navbar
// ********************************************


// Navbar
// --------------------------------------------
.navbar {
  background-color: $brand-3;
  border-bottom: 2px solid $brand-1;
  height: 70px;
}

// Navbar Hamburger
// -------------------------
.navbar__burger {
  position: absolute;
  right: 25px;
  top: 16px;
  border-radius: 3px;
  border: 1px solid $gray-8;
  padding: 5px;
  @include mq("md") {
    display: none;
  }
  &:hover {
    border: 1px solid $gray-8;
    background: rgba(white, .3)
  }
}

.line {
  height: 3px;
  margin: 4px 3px;
  width: 30px;
  display: block;
  background: $gray-8;
}


// Navbar links layout
// -------------------------

.navbar--right {
  display: none; // hidden navigation on small screens

  @include mq("md") {
    float: right;
    display: block;
  }
}

// Logo
// -------------------------
.navbar__logo {
  padding: 15px;
  overflow: hidden;
  a:hover {
    border: none;
  }
}


// Links
// -------------------------

.navbar__link {
  display: inline-block;
  float: right;
  padding: 25px 0;
  margin: 0 25px;
  height: 70px;
  color: $gray-8;
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-size: 12px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: .05rem;
  &:hover {
    color: $gray-8;
    border-bottom: 2px solid $accent-6;
  }
}
