// **************************************************
// Name: sections.scss
// Description: introduction sections
// **************************************************


// Introduction / Transition Sections
// -------------------------------------------------

.introduction {
  position: relative;
  background: white;
  padding: 80px 0 110px 0;
  margin: 0 auto;
  text-align: center;
  background-image: url('/img/logomark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.introduction--arrow {
  @extend .introduction;
  &:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    margin: 0 auto;
    bottom: -45px;
    right: 0;
    left: 0;
    border: solid transparent;
    border-width: 25px;
    border-top: 20px solid white;
    z-index: 2;
  }
}

.introduction__title {
  font-size: 35px;
  font-weight: $font-weight--bold;
  margin-bottom: 5px;
  color: $gray-8;
}

.introduction__subHead {
  margin-top: 0;
  font-size: 20px;
  font-weight: $font-weight--normal;
  color: $accent-3;
  @include mq(md) {
    font-size: 23px;
  }
}



// Features Section
// -------------------------------------------------

.features {
  background: $gray-2;
  padding: 50px 0 85px 0;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}

.feature {
  border-bottom: 1px solid darken($gray-2, 10%);
  &:last-of-type {
    border-bottom: none;
  }
}

.feature__description {
  padding: 60px 0 0 0;
}

.feature__image {
  display: block;
  margin: 0 auto;
}



// Technology Section
// -------------------------------------------------

.technology {
  background-color: $accent-1;
  background: linear-gradient( $accent-1, $accent-2);
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 85px;
  img {
    height: 100px;
  }
}

.technology__title {
  font-size: 35px;
  font-weight: $font-weight--bold;
  margin-bottom: 5px;
  color: $gray-8;
}

.technology__subHead {
  margin-top: 0;
  font-size: 20px;
  font-weight: $font-weight--normal;
  color: $accent-3;
  @include mq(md) {
    font-size: 23px;
  }
}

.technology__feature {
  padding: 25px 20px;
  h4 {
    padding-top: 15px;
  }
  p {
    color: $accent-4;;
    font-size: 14px;
  }
}


// Services Section
// -------------------------------------------------

.services {
  background:
    url('/img/linegraph-bg.svg'),
    linear-gradient(to left, #203966, $accent-4);
  padding: 50px 0 150px 0;
  text-align: center;
}

.services__title {
  font-size: 35px;
  font-weight: $font-weight--bold;
  margin-bottom: 5px;
  color: white;
}

.services__subHead {
  margin-top: 0;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: $font-weight--normal;
  color: $brand-2;
  @include mq(md) {
    font-size: 23px;
  }
}

[class^="services__feature--"] {
  display: block;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: .5s;
  position: relative;
  &:hover {
    box-shadow: 0 0 20px 10px rgba(black, .2);
    z-index: 100;
    .services__feature__description,
    .services__feature__title {
      opacity: 1;
    }
    .services__feature__overlay {
      background: rgba(darken($brand-3, 10%), .9)
    }
  }
}

.services__feature--senior {
  background-image: url('/img/services-senior.jpg');
}
.services__feature--student {
  background-image: url('/img/services-student.jpg');
}
.services__feature--athlete {
  background-image: url('/img/services-athlete.jpg');
}
.services__feature--patient {
  background-image: url('/img/services-patient.jpg');
}

.services__feature__description,
.services__feature__title {
  opacity: 0;
  color: white;
  text-shadow: 0 0 1px rgba(black, .5);
  transition: .05s;
}

.services__feature__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.services__feature__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  background-color: rgba($brand-3, .25);
  transition: .5s;
  padding: 20px;
}



// Licensing Section
// -------------------------------------------------

.licensing {
  background: linear-gradient($accent-1, $accent-2);
  padding: 50px 0 85px 0;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
  p {
    color: $accent-4;
    font-size: 14px;
  }
  h4 {
    color: $accent-3;
    padding-top: 15px;
  }
}

.licensing__icon {
  padding-top: 40px;
  @include mq(md) {
    padding: 40px 25px 60px 0;
    float: left;
  }
}

.licensing__title {
  color: $gray-8;
  text-align: center;
}

p.licensing__subhead {
  text-align: center;
  font-size: 20px;
  color: $accent-3;
  margin-top: 0;
  padding-bottom: 25px;
  @include mq(md) {
    font-size: 23px;
  }
}

// Team Section
// -------------------------------------------------

.team {
  background: $gray-2;
  padding: 90px 0;
  text-align: center;
  h4 {
    font-size: 23px;
    padding-top: 35px;
    margin-bottom: 5px;
  }
  p {
    color: $gray-5;
  }
}

.team__avatar {
  background-color: $accent-3;
  border: 5px solid $accent-3;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-top: 40px;
}



// Contact Section
// -------------------------------------------------

.contact {
  padding: 50px 0 90px 0;
  background:
    linear-gradient($brand-3, $brand-1);
  @include mq(md) {
    background:
      linear-gradient($brand-3-transparent, $brand-1-transparent),
      url('/img/contact-bg-md.jpg') no-repeat center center;
      background-size: cover;
    }
  @include mq(lg) {
    background:
      linear-gradient($brand-3-transparent, $brand-1-transparent),
      url('/img/contact-bg.jpg') no-repeat center center;
      background-size: cover;
  }
}

.contact__title {
  color: $gray-8;
  margin-bottom: 0;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}

.contact__subHead {
  margin-top: 0;
  font-size: 23px;
  padding-bottom: 30px;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}
