// **************************************************
// Name: sections.scss
// Description: introduction sections
// **************************************************



// ---------------------------------------------------
// Section Spacing
// ---------------------------------------------------


// Standard Section Spacing
// ------------------------
.space--section {
  padding: 95px 0;
}

.space--section--xBottom {
  padding-top: 95px;
  padding-bottom: 130px;
}


// Spacing for inside sections
// -------------------------
.space--inner {
  padding-top: 80px;
  padding-bottom: 30px;
}

.space--innerSm {
  padding-top: 50px;
  padding-bottom: 50px;
}



// ---------------------------------------------------
// Section Typography
// ---------------------------------------------------


// Standard Section Title
// ----------------------
.section__title {
  font-weight: $font-weight--bold;
  margin-bottom: 5px;
  color: $gray-8;
}

.section__title--light {
  @extend .section__title;
  color: white;
}


// Standard Section Subhead
// ------------------------
.section__subHead {
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
  font-weight: $font-weight--normal;
  color: $accent-3;
  @include mq(md) {
    font-size: 23px;
  }
}

.section__subHead--dark {
  @extend .section__subHead;
  color: $gray-7;
}

.section__subHead--brand {
  @extend .section__subHead;
  color: $brand-2;
}



// -------------------------------------------------
// Section Intro Header (branded)
// -------------------------------------------------

.section__intro {
  position: relative;
  background: white;
  margin: 0 auto;
  text-align: center;
  background-image: url('../img/logomark.svg');
  background-position: center;
  background-repeat: no-repeat;
  // for arrow at the bottom
  &:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    margin: 0 auto;
    bottom: -45px;
    right: 0;
    left: 0;
    border: solid transparent;
    border-width: 25px;
    border-top: 20px solid white;
    z-index: 2;
  }
}



// -------------------------------------------------
// Features Section
// -------------------------------------------------

.features {
  background: $gray-2;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}

.feature {
  border-bottom: 1px solid darken($gray-2, 5%);
  &:last-of-type {
    border-bottom: none;
  }
}

.feature__image {
  display: block;
  margin: 0 auto;
}



// -------------------------------------------------
// Technology Section
// -------------------------------------------------

.technology {
  background-color: $accent-1;
  background: linear-gradient( $accent-1, $accent-2);
  margin: 0 auto;
  text-align: center;
  img {
    height: 100px;
  }
}

.technology__feature {
  padding: 25px 20px;
  h3 {
    padding-top: 15px;
  }
  p {
    color: $accent-4;;
    font-size: 14px;
  }
}



// -------------------------------------------------
// Services Section
// -------------------------------------------------

// Services Background
// ----------------------
.services {
  background:
    url('../img/linegraph-bg.svg'),
    linear-gradient(to left, #203966, $accent-4);
  text-align: center;
}

// Services Features
// -----------------------
[class^="services__feature--"] {
  display: block;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: .5s;
  position: relative;

  &:hover {
    box-shadow: 0 0 20px 10px rgba(black, .2);
    z-index: 100;
    .services__feature__description,
    .services__feature__title {
      opacity: 1;
    }
    .services__feature__overlay {
      background: rgba(darken($brand-3, 10%), .9)
    }
  }
}

// Services Background Images
// ----------------------

.services__feature--senior {
  background-image: url('../img/services-senior.jpg');
}
.services__feature--student {
  background-image: url('../img/services-student.jpg');
}
.services__feature--athlete {
  background-image: url('../img/services-athlete.jpg');
}
.services__feature--patient {
  background-image: url('../img/services-patient.jpg');
}

// Services Feature Text
// ----------------------

.services__feature__description,
.services__feature__title {
  opacity: 0;
  color: white;
  text-shadow: 0 0 1px rgba(black, .5);
  transition: .05s;
}

.services__feature__title {
  padding-top: 15%;
}

.services__feature__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  background-color: rgba($brand-3, .25);
  transition: .5s;
  padding: 20px;
}



// -------------------------------------------------
// Licensing Section
// -------------------------------------------------

.licensing {
  background: linear-gradient($accent-1, $accent-2);
  text-align: center;
  p {
    overflow: hidden;
  }
  @include mq(md) {
    text-align: left;
  }
}

.licensing__icon {
  @include mq(md) {
    padding: 0 25px 0 0;
    float: left;
  }
}



// -------------------------------------------------
// Team Section
// -------------------------------------------------

.team {
  background: $gray-2;
  text-align: center;
  p {
    color: $gray-5;
  }
}

.team__avatar {
  background-color: $accent-3;
  border: 5px solid $accent-3;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 40px 0;
}



// -------------------------------------------------
// Contact Section
// -------------------------------------------------

.contact {
  background:
    linear-gradient($brand-3, $brand-2);
  @include mq(md) {
    background:
      linear-gradient($brand-1-transparent, $brand-3-transparent),
      url('../img/contact-bg-md.jpg') no-repeat center center;
      background-size: cover;
    }
  @include mq(lg) {
    background:
      linear-gradient($brand-1-transparent, $brand-3-transparent),
      url('../img/contact-bg.jpg') no-repeat top center;
      background-size: cover;
  }
}
